@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,401;1,600&display=swap");

html,
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ff858d;

  font-size: 16px;
  color: #272727;
  font-weight: 401;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

body {
  font-size: 1.4rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-style: italic;
  margin: 0;
}
